@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

%circle-image {
  z-index: 1;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  width: auto;
  line-height: 0;
}

%circle-image-outline {
  @extend %circle-image
  border: 4px solid white;
  box-shadow: 2px 3px 3px rgba(0,0,0,0.2);
  display: inline-block;
}

html, body {
  width: 100%;
  height: 100%;
}

.main-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr 3fr;
  grid-template-areas: 
  "note-list user-info"
  "note-list selected-tag"
  "note-list unselected-tag";
  justify-items: stretch;
}

.note-list {
  grid-column-start: note-list-start;
  grid-column-end: note-list-end;
  grid-row-start: note-list-start;
  grid-row-end: note-list-end;
}

.user-info {
  grid-column-start: user-info-start;
  grid-column-end: user-info-end;
  grid-row-start: user-info-start;
  grid-row-end: user-info-end;
  justify-self: center;
  position: relative;
  overflow: hidden;
  text-align: center;
  cursor: pointer;

  &:hover {
    img {
      opacity: 0.4;
    }
  }
}

.image-warp {
  @extend %circle-image-outline;
  background: grey;
  img {
    opacity: 1;
  }
}

.selected-tag {
  grid-column-start: selected-tag-start;
  grid-column-end: selected-tag-end;
  grid-row-start: selected-tag-start;
  grid-row-end: selected-tag-end;
}
